<div class="grid-third">
	<h1 class="h2 no-margin-top no-padding-top no-margin-bottom no-padding-bottom">Shawn Medero</h1>
</div>
<div class="grid-two-thirds">
	<nav>
		<ul role="list" class="no-margin-top no-padding-top no-margin-bottom no-padding-bottom list-inline list-unstyled">
			<li>
				<a href="/" title="back to the homepage">Home</a>
			</li>
			<li>
				<a href="/about/" title="About shawn.medero.net">About</a>
			</li>
			<li>
				<a href="/archives/" title="Blog Archives">Archives</a>
			</li>
			<li>
				<a href="{{.Site.BaseURL }}index.xml" title="Subscribe to RSS">Feed</a>
			</li>		
		</ul>
	</nav>
</div>