<div class="grid-third">
	<picture itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
		<img class="u-photo" itemprop="contentUrl" src="/_images/avatar.jpg" alt="">
	</picture>						
	<h1 class="h2 no-margin-bottom no-padding-bottom" itemprop="name">
		<a itemprop="url" href="http://shawn.medero.net/" class="u-url  u-uid  p-name" rel="me">
			<span itemprop="givenName">Shawn</span> <span itemprop="familyName">Medero</span>
		</a>
	</h1>
	<p class="text-smallest">
		<span>@</span><span itemprop="alternateName">soypunk</span> elsewhere<br>
		<a itemprop="email" href="mailto:shawn@medero.net" rel="me" class="u-email">
			shawn@medero.net
		</a>
	</p>
</div>
<div class="grid-two-thirds text-small" itemprop="description">
	<p class="p-note">
		Nerd who still <a href="/archives/">blogs</a> and lives in <span class="p-locality">Claremont, CA</span>. Writes about cooking, the Internet, public transportation, tabletop games, user experience, or whatever else interest me at the time. <a href="/about/">Biography</a>.
	</p>
	<p>
		I also post thoughts on <a href="https://friend.camp/@soypunk" rel="me" itemprop="sameAs">Mastodon</a> and <a href="https://bsky.app/profile/shawn.medero.net" rel="me" itemprop="sameAs">Bluesky</a>. Elsewhere: <a href="http://discordapp.com/users/473263777882570752" rel="me" itemprop="sameAs">Discord</a>, <a href="https://github.com/soypunk" rel="me" itemprop="sameAs">Github</a>, & <a href="https://www.linkedin.com/in/shawnmedero" rel="me" itemprop="sameAs">LinkedIn</a>.
	</p>				
</div>