<!DOCTYPE HTML>
<html>
	<head>
		<title>Shawn Medero - Digital Product Developer & User Experience Consultant</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/base.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body class="is-loading">