{{ partial "header.html" . }}
<article class="blog">
<p><span class="meta">{{ .Date.Format "January 2, 2006" }}</span></p>
<h1>{{ .Title }}</h1>
<section role="main" class="main">
{{ .Content }}
</section>
<section>
<hr>
<p>
{{ if .PrevInSection }}
  Previously: <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
{{ end }}
{{ if and .PrevInSection .NextInSection }} | {{ end }}
{{ if .NextInSection }}
  Next up: <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
{{ end }}
</p>
<p><a href="/">&laquo; back to home</a></p>
</section>
</article>
{{ partial "footer.html" . }}